
<div style="background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6) 0%,rgba(0, 0, 0, 0.6) 100%), url(https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png);background-attachment:fixed; background-repeat: no-repeat; background-position:center; background-size:cover;">
  <br>
  <section>
  <div class="container" style="margin-top: 7rem; margin-bottom: 7rem; ">
    <div class="card " style="background: rgba(236, 235, 235, 0.767)!important">
      <div class="row mt-3 ">
        <div class="col-md-6 ">
          <img style="width:550px; height: 350px; padding: 20px;" src="https://www.allkpop.com/upload/2021/09/content/220054/1632286445-en-sqdgame-main-playground-horizontal-rgb-pre-1.jpg" alt="">
        </div>
        <div class="col-md-5">
          <h3>Squid Game</h3>
          <h6>2021 | South Korea <br> Action, Adventure, Drama| September 17, 2021 (United States)| Korean </h6>
          <div class="clearfix mb-3 text-white"> <span class="float-start badge rounded-pill bg-secondary"> + WATCH LATER </span><span class="float-start badge rounded-pill bg-secondary"> LOVE </span> <span class="float-start badge rounded-pill bg-secondary"> LIKE </span> <span class="float-start badge rounded-pill bg-secondary"> DISLIKE </span></div>
          <hr>
          <p>A story of people who fail at life for various reasons, but suddenly receive a mysterious invitation to participate in a survival game to win ten million US dollars. The game takes place at an unknown location, and the participants are locked up until there is a final winner.</p>
          <hr>
          <h4 class="text-primary">
            Rate: <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false" size="50">&nbsp</ngb-rating>
           {{currentRate}} / 5
         </h4>
         <br>
        </div>
      </div>
    </div>
  </div>
  </section><br>

  